{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href={% static 'chat/css/index.css' %}>
</head>
<body>
    {{ room_name|json_script:"room-name" }}
    <div id="App">
        <div id="left_article">
            <ul>
                {% for u in users %}
                    {% if u.username != user.username %}
                    <a href={% url 'chat:room' room_name=u.username %}><li>@{{ u.username }}</li></a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="right_article">
            <div id='head'>
                @{{room_name}}
            </div>
            <div id='box'>
                
            </div>
            <div id='input'>
                <input id="chat-message-input" type="text">
                <input id="chat-message-submit" type="button" value="Send">
            </div>
        </div>
    </div>
    




    <script src={% static 'chat/js/reconnecting-websocket.min.js' %}></script>
    <script>
        var username = "{{ user.username }}"
        var room = "{{ room_name }}"
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        
        chatSocket.onopen = (e)=>{
            console.log("Connected")
            chatSocket.send(JSON.stringify({'command':'fetch_messages', 'room':room}))
        }
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // console.log(data)
            if(data['command']=== 'messages'){
                for(let i =0; i<data['messages'].length;i++){
                    createMessage(data['messages'][i])
                }
            }else if(data['command'] === 'new_message'){
                createMessage(data['message'])
            }
        };
        function createMessage(message){
            // console.log(message)
            let div = document.createElement('div')
            let small = document.createElement('small')
            small.textContent = message.author
            if(message.author == username){
                div.className = 'sent'
                small.textContent = "You"
            }else{
                div.className = 'replies'
                small.textContent = message.author
            }
            let p = document.createElement('p')
            p.textContent = message.content
            div.appendChild(small)
            div.appendChild(p)
            document.getElementById('box').appendChild(div)
        }
        chatSocket.onclose = function(e) {
            document.getElementById('box').innerHTML = ""
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'from': username,
                'room': room
            }));
            messageInputDom.value = '';
        };
    </script>
    <script type='text/babel'>
        ReactDOM.render(<div>H1</div>, document.getElementById('root'))
    </script>
</body>
</html>