#App{
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 20% 72%;
    border: 1px solid;
    /* display: none ; */
}
#App > div{
    overflow-y: auto;
    height: 100vh;
}
#App ul{
    list-style: none;
    margin:  0;
    padding: 0;
    border: 1px solid
}
#left_article{
    border: 1px solid black;
    padding: 2%;

}
#right_article{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
#box{
    height: 95%;
    padding: 1% 0;
    border: 1px solid black;
    overflow-y: scroll;
}
#input{
    height: 5%;
    width: 100%;
    display: flex;
}
input:nth-child(1){
    width: 95%;
}
.sent, .replies{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding: 1%;
}
.sent{
    margin-right: 1%;
    align-items: flex-end;
    background-color: red;
    margin-left: auto;
}
.replies{
    margin-left: 1%;
    align-items: flex-start;
}
li p{
    /* max-width: 80%; */
}
.sent p{
    text-align: right;
}
.replies p {
    text-align: left;
}
